header {
    display: flex;
    user-select: none;
}

header h1 {
    display: flex;
    align-self: center;
    margin-left: 15px;
}

header img {
    margin-left: 15px;
}

header img:hover {
    cursor: pointer;
}

header h1:hover {
    background: Highlight;
    color: HighlightText;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.question-block {
    padding: 15px;
    background-color: #f6f6f6;
}

.question-block > .question-header {
    font-size: 1.5em;
    font-weight: bold;
}

.question-content label{
    user-select: none;
}